@charset "UTF-8";

.msg-geral {
    color: red;
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    background-color: rgb(242, 216, 216);
    padding: 10px;
    border-radius: 3px;
}
.msg-juridico  {
    color: red;
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    background-color: rgb(242, 216, 216);
    padding: 10px;
    border-radius: 3px;
}

.esconder {
    display: none !important;
}

.exibir {
    display: block !important;
}

#div-fisico {
   
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#div-juridico {
   
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.erro-input {
    background-color: red;
    border: 1px solid red;
}

.container{
    align-items: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: dodgerblue;
}

#div-fisico, #div-juridico{
    background-color: gray;
}

#validar, #next{
margin-top: 30px;
}